RewriteEngine on
RewriteRule ^(\w+)/?$ ?pe0=$1
RewriteRule ^(\w+)/([\w]+)/?$ ?pe0=$1&pe1=$2
RewriteRule ^(\w+)/([\w]+)/([\w:-]+)/?$ ?pe0=$1&pe1=$2&pe2=$3
<FilesMatch "\.css$">
  <IfModule mod_expires.c>
  	Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  </IfModule>
</FilesMatch>